<ion-header>
  <ion-toolbar>
    <ion-title>
      One-piece
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-item>
      <ion-card-header>
        <ion-card-subtitle>One piece.</ion-card-subtitle>
        <ion-card-title>Yo sere el rey pirata</ion-card-title>
      </ion-card-header>
    </ion-item>
    <ion-item>
      <!--<ion-img [src]="imagen"></ion-img> -->
      <ion-img src='../assets/img/luffy-poster.jpeg'></ion-img>
      <ion-button id='botonUno' (click)='producto()'>Personajes</ion-button>
    </ion-item>
  </ion-card>
  <ion-card>
      <ion-item>
        <ion-img src='../assets/img/barcos.png'></ion-img>
        <ion-button id='botonUno' (click)='barco()'>Barcos</ion-button>
      </ion-item>
  </ion-card>

</ion-content>